.folder_galery_container{
    display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1vh 1vw 1vw 1vh;
  
}

.folder_galery_item {
   // width: 25%; // Set the width to 25% to fit 4 items in a row
    
  }