# Même principe que le .gitignore, mais pour éviter de copier des fichiers non voulus dans le conteneur docker
node_modules
Dockerfile
.dockerignore
.gitignore
.git
docker-compose*
skin-sight-416817-6de6cdd22847.json
everything-backend.yml
skin-sight-backend-secrets.yml