//Theme colors

$primary_1: #d4eaf7;
$primary_2: #b6ccd8;
$primary_3: #3b3c3d;
$accent_1: #71c4ef;
$accent_2: #00668c;
$text_1: #1d1c1c;
$text_2: #313d44;
$bg_1: #fffefb;
$bg_2: #f5f4f1;
$bg_3: #cccbc8;