@import "src/styles/main.scss";

.sideBar_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    height: 100%;
}

.sideBar_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}